<link href="/styles/player-fields.css" type="text/css" rel="stylesheet" />

<div class="player-container">
    <div class="flex-labels">
        <div class="label"><label for="firstname">Firstname</label></div>
        <div class="label"><label for="lastname">Lastname</label></div>
        <div class="label"><label for="birthday">Birth Date</label></div>
        <div class="label"><label for="number">Number</label></div>
        <div class="label"><label for="position">Position</label></div>
        <div class="label"><label for="appearances">Appearances</label></div>
        <div class="label"><label for="goals">Goals</label></div>
        <div class="label"><label for="image">Image URL</label></div>
        <div class="label"><label for="image">background</label></div>
    </div>
    <div class="flex-inputs">
        <div class="input"><input type="text" name="firstname" id="firstname" value="<%= player.firstname %>"></div>
        <div class="input"><input type="text" name="lastname" id="lastname" value="<%= player.lastname %>"></div>
        <div class="input"><input type="text" name="birthday" id="birthday" value="<%= player.birthday %>"></div>
        <div class="input"><input type="text" name="number" id="number" value="<%= player.number %>"></div>
        <div class="input"><input type="text" name="position" id="position" value="<%= player.position %>"></div>
        <div class="input"><input type="text" name="appearances" id="appearances" value="<%= player.appearances %>"></div>
        <div class="input"><input type="text" name="goals" id="goals" value="<%= player.goals %>"></div>
        <div class="input"><input type="text" name="image" id="image" value="<%= player.image %>"></div>
        <div class="input"><input type="text" name="image" id="image" value="<%= player.background %>"></div>
    </div>
</div>
<div class="options">
    <div class="cancel"><a href="/dashboard">Cancel</a></div>
    <div><button type="submit">Save</button></div>
</div>