<main>
    <div class="container" style="background-image: url('<%- player.image %>');" >
      <h1><%= player.number %><%= player.firstname %><%= player.lastname %></h1>
      <p><%= player.position %></p>
    </div>
</main>