<div class="articles-container">
    <div class="articles">
        <% articles.forEach(article => { %>
        <div id="article-body">
            <div class="article-image-container">
                <img src=" <%= article.image %> " onclick="window.location='http://localhost:8000/articles/<%= article.slug %>';" />
            </div>
            <div class="article-container">
                <h4 class="article-title"><%= article.title %></h4>
                <div class="date"><%= article.createdAt.toLocaleDateString() %></div>
                <div class="article-description"><%= article.description %></div>
                <div class="read-more" id="read-more">
                    <a class="read-more" id="a" href="articles/<%= article.slug %>">Read More</a>
                </div>
            </div>
        </div>
        <% }) %>
    </div>
</div>