<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<article class="article-body">
    <div class="article-image-container">
        <img src=" <%= article.image %> " onclick="window.location='http://localhost:8000/article/<%= article.slug %>';" />
    </div>
    <div class="article-container">
        <h4 class="article-title"><%= article.title %></h4>
        <div class="date"><%= article.createdAt.toLocaleDateString() %></div>
        <div class="article-description"><%= article.description %></div>
        <div class="read-more" id="read-more">
            <a class="read-more" id="a" href="/article/<%= article.slug %>"><span>Περισσότερα</span><i id="arrow" class="fa fa-arrow-right"></i></a>
        </div>
    </div>
</article>