<link href="/styles/dashboard.css" type="text/css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <form action="/admin/logout?_method=DELETE" method="POST" id="logoutform">
      <button type="submit" id="logout"><span>Logout</span><i class="fa fa-sign-out" aria-hidden="true"></i></button>
    </form>

  <h1 class="page-title">
    Πίνακας Ελέγχου
  </h1>    

  <div class="options">
    <a id="new" href="/admin/add-article">Νέο Άρθρο</a>
    <a id="new" href="/admin/add-player">Προσθήκη Παίχτη</a>    
  </div>

  <div class="content">
    <div class="articles-container">
      <h3>Άρθρα</h3>
      <div class="articles">
        <% articles.forEach(article => { %>
        <%- include('./../articles/article.ejs' ,{article:article} ) %>
        <div class="edit-options">
          <a id="edit" href="/admin/edit-article/<%= article.id %>">Edit</a>
          <form action="/admin/delete-article/<%= article.id %>?_method=DELETE" method="POST">
            <button type="submit" class="delete">Delete</button>
          </form>
        </div>
        <% }) %>

      </div>
    </div>
    <div>

      <div class="players-outside-container">
        <div class="players-container">
          <h3>Παίχτες</h3>
          <div class="players ">
            <% players.forEach(player => { %>
              <%- include('./../players/player-card.ejs' ,{player:player} ) %>
            <div class="edit-options">
              <a id="edit" href="/admin/edit-player/<%= player.id %>">Edit</a>
              <form action="/admin/delete-player/<%= player.id %>?_method=DELETE" method="POST">
                <button type="submit" class="delete">Delete</button>
              </form>
            </div>

            <% }) %>
          </div>
        </div>
      </div>
    </div>

