<main>
  <link href="/styles/dashboard.css" type="text/css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <div class="first-row">
    <p class="title">
      Πίνακας Ελέγχου , Καλώς ήλθες <em style="color: rgb(180, 180, 180);"><%= typeof variant != 'undefined' ? variant : name %></em>    
    </p>
    <div class="options">
      <a id="new-article" href="/articles/new" class="button">New Article</a>
      <form action="/logout?_method=DELETE" method="POST">
        <button type="submit" class="logout">Logout</button>
      </form>
    </div>
  </div>
  <div class="container">
    <div class="articles">
      <% articles.forEach(article => { %>
      <div id="article-body">
        <div class="article-image-container">
          <img src=" <%= article.image %> "
            onclick="window.location='http://localhost:8000/articles/<%= article.slug %>';" />
        </div>
        <div class="article-container">
          <h4 class="article-title"><%= article.title %></h4>
          <div class="date"><%= article.createdAt.toLocaleDateString() %></div>
          <div class="markdown"><%= article.markdown %></div>
          <div class="read-more" id="read-more">
            <a class="read-more" id="a" href="articles/<%= article.slug %>">Read More<i class='fas fa-arrow-right'
                id="i"></i></a>
          </div>
          <div class="opt">
            <a href="/articles/edit/<%= article.id %>" class="button">Edit</a>
            <form action="/articles/<%= article.id %>?_method=DELETE" method="POST">
              <button type="submit" class="delete" style="color: red;"><span class='text'>Delete</button>
            </form>
          </div>
        </div>
      </div>
      <% }) %>
    </div>
    <div id="right-side">
    </div>
  </div>
  </div>
</main>