<link href="/styles/dashboard.css" type="text/css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


  <h1 class="title">
    Πίνακας Ελέγχου
    <form action="/admin/logout?_method=DELETE" method="POST" id="logoutform">
      <button type="submit" id="logout">Logout</button>
    </form>
  </h1>    

  <div class="options">
    <a id="new" href="/admin/add-article">Νέο Άρθρο</a>
    <a id="new" href="/admin/add-player">Προσθήκη Παίχτη</a>
  </div>

  <div class="content">
    <div class="articles-container">
      <h3>Άρθρα</h3>
      <div class="articles">
        <% articles.forEach(article => { %>
        <div id="article-body">
          <div class="article-image-container">
            <img src=" <%= article.image %> "
              onclick="window.location='http://localhost:8000/articles/<%= article.slug %>';" />
          </div>
          <div class="article-container">
            <h4 class="article-title"><%= article.title %></h4>
            <div class="date"><%= article.createdAt.toLocaleDateString() %></div>
            <div class="article-markdown"><%= article.description%></div>
            <div class="article-options">
              <div class="read-more" id="read-more">
                <a class="read-more" id="a" href="<%= article.slug %>">Read More</a>
              </div>
              <a id="edit" href="/admin/edit-article/<%= article.id %>">Edit</a>
              <form action="/admin/delete-article/<%= article.id %>?_method=DELETE" method="POST">
                <button type="submit" class="delete">Delete</button>
              </form>
            </div>
          </div>
        </div>
        <% }) %>
      </div>
    </div>
    <div>

      <div class="players-outside-container">
        <div class="players-container">
          <h3>Παίχτες</h3>
          <div class="players ">
            <% players.forEach(player => { %>
            <div class="player" style="background-image: url('<%= player.image %>');">
              <div class="lastname-background">
                <p class="lastname-paragraph"><%=player.lastname%></p>
              </div>
              <div class="info" id="info" href="/<%= player.slug %>">
                <div class="inline1" id="number"><%=player.number%></div>
                <div class="inline1" id="firstname"><%=player.firstname%></div>
                <div class="inline1" id="lastname"><%=player.lastname%></div>
                <div class="position"><%= player.position%></div>

                <div class="hidden-stats">
                  <div class="inline2">
                    <div class="stat-title">Ημ/νία Γέννησης</div>
                    <div><%= player.birthday%></div>
                  </div>

                  <div class="inline2">
                    <div class="stat-title">Συμμετοχές</div>
                    <div><%= player.appearances%></div>
                  </div>

                  <div class="inline2">
                    <div class="stat-title">Γκολ</div>
                    <div><%= player.goals%></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="player-options">
              <a id="edit" href="/admin/edit-player/<%= player.id %>">Edit</a>
              <form action="/admin/delete-player/<%= player.id %>?_method=DELETE" method="POST">
                <button type="submit" class="delete">Delete</button>
              </form>
            </div>

            <% }) %>
          </div>
        </div>
      </div>
    </div>

