<link href="/styles/index.css" type="text/css" rel="stylesheet" />
<link href="/styles/articles.css" type="text/css" rel="stylesheet" />
<link rel="shortcut icon" href="/extras/logo.ico">

    <div class="carousel">
        <% articles.slice(0, 3).forEach(article =>{%>
            <div class="column" id = "column<%- articles.indexOf(article)%>" style="background-image: url('<%- article.image %>');"
                onclick="window.location='http://localhost:8000/article/<%= article.slug %>';">
                <p class="title"> <%- article.title %> </p>
                <p class="description"> <%- article.description %> </p>
            </div>
        <%})%>
    </div>

    <div class="container">
        <div class="latest-news">
           <div class="blue-span"></div>
           <p>Τελευταία Νέα</p>
           <div class="red-span"></div>
        </div>
        <div class="articles-container">
            <div class="articles"> 
                <% articles.slice(3, 6).forEach(article=>{ %>
                    <%- include('../articles/article.ejs' ,{article:article} ) %>
                <% }) %>
            </div>
        </div>
     </div>




