<link href="/styles/index.css" type="text/css" rel="stylesheet" />
<link href="/styles/articles.css" type="text/css" rel="stylesheet" />
<link rel="shortcut icon" href="/extras/logo.ico">
<main>
    <div class="carousel">
        <% for(let i=0; i<=2; i++){%>
            <div class="column" id = "column<%- i %>" style="background-image: url('<%- articles[i].image %>');"
                onclick="window.location='http://localhost:8000/articles/<%= articles[i].slug %>';">
                <p class="title"> <%- articles[i].title %> </p>
                <p class="description"> <%- articles[i].description %> </p>
            </div>
        <%}%>
    </div>

    <%- include('../articles/all-articles.ejs') %>

</main>


